div.form_reg
	h3 Login To Your Account
	form(action='' method='post')
		label(for='username') Username
		input(type='text' name='username' placeholder='Your Username')
		br
		label(for='password') Password
		input(type='password' name='password' placeholder='Your Password')
		br
		input(type='submit' name='submit_log' value='Login')