div.form_update
	h3 Update Your Password
	-if (errors_password)
		div.err
			for error in errors_password
				p.error #{error}

	form(action='/profile/change_password' method='post')
		label(for='password') Old Password
		input(type='password' name='old_password' placeholder='Your Old Password' required)
		br
		label(for='password') New Password
		input(type='password' name='new_password' placeholder='Your New Password' required)
		br
		label(for='password') Retype New Password
		input(type='password' name='retype_new_password' placeholder='Retype New Password' required)
		br		
		input(type='submit' name='submit_password' value='Update')